.qrcode {
  /* Workaround for Kjua, which cannot include size inline as this is blocked by the CSP */
  width: 200px;
  height: 200px;

  margin: 20px;
}

.message-box {
  width: 100vw;
  max-width: 210px;

  border-radius: 0px;

  text-align: center;
}

/* Let the element float (at the bottom on the qr) */
.flot-qr {
  position: absolute;
}
.float-qr-bottom {
  bottom: 30px;
}
/* make background transparent when floating */
.error.flot-qr {
    background-color: #d70022ee;
}

#qrcodetext {
  /* let popup grow with text field */
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  min-height: 2em;

  resize: both;
  height: 100%; /* in FF <=59 not correctly applied when in the overflow menu */

  /* text style */
  word-break: break-word; /* not supported by FF yet, may still look better */
  word-break: break-all;

  /* override inerhited from browser-style */
  margin: 0px;
}
