/* prevent vertical scrollbar */
html, body {
  width: 100%;
  min-height: 250px;
}
/* on (small) mobile displays */
@media (max-width: 700px) {
  body {
    /* for some reason there is a margin in Firefox for Android
       see https://bugzilla.mozilla.org/show_bug.cgi?id=1457696 */
    margin: 0px;
  }
}


.preventScrollbar {
  /* prevent overflow at bottom (applied to body in JS) */
  overflow: hidden;
  max-height: 100%;
  height: 100%;
}

.qrcode {
  /* never set a fixed height/width as the qr code is then not resizable */
  width: auto;
  height: auto;
  max-height: 100%;
}
/* self-scalable images, do not need JS support */
.qrcode-scalable-image {
  width: 100%;
}

.message-box {
  text-align: center;
}

/* Let the element float (at the bottom on top of the qr) */
.flot-qr {
  position: absolute;
}
.float-qr-bottom {
  bottom: 30px;
}
/* make background transparent when floating */
.error.flot-qr {
  width: auto;

  border-radius: 0px;

  background-color: #d70022ee;
}

#qrcode-container {
  width: 100%;
  height: 100%;
  max-height: 80%;

  padding: 20px;

  /* 2:1 compare to #qrcodetext to keep size */
  flex-grow: 2;
  /* center QR code itself */
  justify-content: center;
}
#qrcode-resize-container {
  overflow: hidden;
    width: 200px;
    height: 200px;
}

#qrcodetext {
  /* let popup grow with text field */
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  min-height: 2em;
  max-height: 100%;

  resize: both;

  /* Firefox needs a fixed height, so it can scale the popup large enough when QR code is displayed */
  height: 6em;

  flex-grow: 1;

  /* text style */
  word-break: break-word; /* not supported by FF yet, may still look better */
  word-break: break-all;

  /* override inerhited from browser-style */
  margin: 0px;
}
