[submodule "src/common/modules/Localizer"]
	path = src/common/modules/Localizer
	url = https://github.com/TinyWebEx/Localizer/
[submodule "src/tests/helper"]
	path = src/tests/helper
	url = https://github.com/TinyWebEx/TestHelper
[submodule "src/common/modules/AddonSettings"]
	path = src/common/modules/AddonSettings
	url = https://github.com/TinyWebEx/AddonSettings
[submodule "src/common/modules/Logger"]
	path = src/common/modules/Logger
	url = https://github.com/TinyWebEx/Logger
[submodule "src/common/modules/MessageHandler"]
	path = src/common/modules/MessageHandler
	url = https://github.com/TinyWebEx/MessageHandler
