body {
  /* the style the other options in the settings pane use */
  font-size: 1.11em;
  color: #333;
}

/* on (small) mobile displays */
body.mobile {
  /* smaller size -> default on Firefox for Android is 14px */
  font-size: 14px;
}

/* disable all options incomaptible with mobile devices */
body.mobile .mobile-incompatible {
  display: none;
}

/* https://design.firefox.com/photon/patterns/inactive.html */
[disabled] {
  opacity: 0.4;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
}
/* in a fieldset e.g. we use a condensed version */
.condensed-list {
  margin-left: 0px;
}

fieldset {
  /* same border style as separators above */
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--grey-30); /* Firefox: --in-content-box-border-color */

  /* a big width, but not too big */
  display: inline-block;
  width: auto;
  min-width: 60vw;

  margin-bottom: 4px;
}

/* when a setting has a label *before* it, add some margin */
label + .setting {
  margin-left: 8px;
}

.helper-text {
  display: block;
  color: var(--grey-50);

  margin-top: 4px;
}

/* some margin to align with checkbox */
input[type=checkbox] ~ .helper-text,
input[type=radio] ~ .helper-text {
  /* 4px margin-left + 16px size + 3px margin-right + 5px space (#text) */
  margin-left: 28px;
}

/* when a link is used in a helper text, add margin */
.helper-text > a {
  margin-left: 4px;
  overflow-wrap: none;
}

/* special options values */

#popupIconColor {
  display: inline;
}

#qrQuietZone {
  position: relative;
  top: 5px;
  cursor: pointer;
  /* -webkit-appearance: none; */
}

#qrCodeSizeFixedValue {
  width: 4.5em;
}

/* TODO: make i icon bigger */
