body {
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
}

/* on (small) mobile displays */
body.mobile {
  /* smaller size -> default on Firefox for Android is 14px */
  font-size: 14px;
}

/* disable all options incomaptible with mobile devices */
body.mobile .mobile-incompatible {
  display: none;
}

/* https://design.firefox.com/photon/patterns/inactive.html */
[disabled] {
  opacity: 0.4;
}

form {
  margin: 16px 32px;
}

h1 {
  margin: 0;
  padding: 16px 0;

  border-top: 1px solid rgba(12, 12, 13, 0.15);
  font-weight: 300;
  font-size: 1.46em;
}

h1:first-child {
  border-top: none;
}

section {
  margin-bottom: 32px;
}

h2{
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 1.14em;
}

.line {
  padding: 2px 0;
  margin-bottom: 4px;

  display: flex;
  align-items: center;
}

.item .line * {
  margin: 0 8px 0 0;
}

.item .line.indent {
  margin-inline-start: 28px !important;
}

.helper-text {
  color: var(--grey-50);
}

/* when a link is used in a helper text, add margin */
.helper-text > a {
  margin-left: 4px;
  overflow-wrap: none;
}

#qrQuietZone {
  cursor: pointer;
}
