body {
  /* the style the other options in the settings pane use */
  font-size: 1.25rem; /* TODO: adjust to font size on mobile */
  color: #333;
}

/* https://design.firefox.com/photon/patterns/inactive.html */
[disabled] {
  opacity: 0.4;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  margin: 0.75em;
  padding: 0px;
}
.helper-text {
  display: block;
  color: #737373; /* Grey 50 */
  /* 4px margin-left + 16px size + 3px margin-right + 5px space (#text) */
  margin-left: 28px;

  margin-top: 0.1em;
}

/* special options values */

#popupIconColor {
  display: inline;
}
/* @TODO: improve ID! size can be anything! Just needed, because of current JS behaviour */
#size {
  width: 5em;
}

/* TODO: make i icon bigger */
