body {
  /* the font-size the other options in the settings pane use */
  font-size: 1.25rem; /* TODO: adjust to font size on mobile */
  color: #333;
}

/* https://design.firefox.com/photon/patterns/inactive.html */
[disabled] {
  opacity: 0.4;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  margin: 0.5em;
  padding: 0px;
}

/* TODO: make i icon bigger */
/* TODO: improve checkbox style */
