body {
  /* the style the other options in the settings pane use */
  font-size: 1.25rem; /* TODO: adjust to font size on mobile */
  color: #333;
}

/* https://design.firefox.com/photon/patterns/inactive.html */
[disabled] {
  opacity: 0.4;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  margin-top: 8px;
  padding: 0px;
}
/* in a fieldset e.g. we use a condensed version */
.condensed-list {
  margin-left: 0px;
}

fieldset {
  /* same border style as separators above */
  border: 1px solid;
  border-radius: 4px;
  border-color: #d7d7db; /* Firefox: --in-content-box-border-color */

  /* a big width, but not too big */
  display: inline-block;
  width: auto;
  min-width: 60vw;

  margin-bottom: 4px;
}

/* when a setting has a label *before* it, add some margin */
label + .setting {
  margin-left: 8px;
}

.helper-text {
  display: block;
  color: #737373; /* Grey 50 */
  /* 4px margin-left + 16px size + 3px margin-right + 5px space (#text) */
  margin-left: 28px;

  margin-top: 4px;
}

/* special options values */

#popupIconColor {
  display: inline;
}
/* @TODO: improve ID! size can be anything! Just needed, because of current JS behaviour */
#size {
  width: 4.5em;
}

/* TODO: make i icon bigger */
