body {
  direction: __MSG_@@bidi_dir__;
}

/* https://design.firefox.com/photon/components/links.html */
a {
  color: #0060df;
  text-decoration: none;
}

a:focus {
  border-radius: 4px;
  box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

a:hover, a:active {
  text-decoration: underline;
}

a:active {
  color: #003eaa;
}

a:not([class])[href*="//"]::after {
  background-image: url(/common/img/open-in-new.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin: -.3rem .15rem 0 .25rem;
  vertical-align: middle;
  width: 16px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* small classes in order to avoid inline CSS */
.invisible {
  display: none !important;
}

.message-container {
  position: relative;
}

/* message box */
/* follows https://design.firefox.com/photon/components/message-bars.html */
.message-box {
  padding: 4px;

  border-radius: 4px;

  /* use whole width */
  width: 100%;
  min-height: 32px;

  /* make errors selectable, so users can copy them */
  -moz-user-select: text;
  cursor: text;

  /* multiline */
  hypens: auto;
  overflow-wrap: break-word;

  /* center-vertically */
  display: flex;
  align-items: center;

  z-index: 2;
}

.error {
  color: #ffffff;
  background-color: #d70022;
}
/* icon for error message */
.message-box::before {
  display: inline-block;

  /* fixed size */
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;

  content: "";
  margin: 4px;
}

.error::before {
  background-image: url('/common/img/error-white.svg');
}
.info::before {
  background-image: url('/common/img/info-dark.svg');
}
.success::before {
  background-image: url('/common/img/check.svg');
}

.info {
  color: #0c0c0d;
  background-color: #ededf0;
}

.success {
  color: #003706;
  background-color: #30e60b;
}
